@import 'variables.css';
/* 
--primary-color
--secondary-color
--accent-color
--background-color
--text-color
*/

.rootDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
}

.toggleStreamButton {
    border: none;
    border-radius: 5px;
}