.videoStreamDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.videoStream {
    width: 60vw; 
    height: calc(calc(60vw * 9) / 16);
    background-color: black;
    margin: 2rem;
}

.toggleStreamButton {
    border: none;
    border-radius: 5px;
}