@import 'variables.css';
/* 
--primary-color
--secondary-color
--accent-color
--background-color
--text-color
*/

.headerDiv {
    height: 80px;
    width: 100%;
    background-color: var(--secondary-color);
}