@import 'variables.css';
/* 
--primary-color
--secondary-color
--accent-color
--background-color
--text-color
*/

.metersDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    height: 8vw;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
}

.meterContainer {
    width: 5%;
    height: 100%;
}

.meter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: var(--custom-color-1);
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    z-index: 1;

}

.icon {
    width: 100%;
    height: auto;
    margin-left: 2px;
    margin-top: 10px;
    color: var(--text-color);

}

.level {
    width: 100%;
    border-radius: 3px;
    z-index: 0;
    transition: height .5s ease;
}

.neutralMeterLevel {
    background-color: #8b8686;
}

.happyMeterLevel {
    background-color: #1a940f;
}

.sadMeterLevel {
    background-color: #1055b0;
}

.angryMeterLevel {
    background-color: #bf2113;
}

.disgustedMeterLevel {
    background-color: #eb8d1a;
}

.surprisedMeterLevel {
    background-color: #FFF524;
}

.fearfulMeterLevel {
    background-color: #6f2604;
}

@media screen and (max-width: 600px) {
    .metersDiv {
        height: 12vw;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
}