
:root {

    --primary-color: var(--light-primary-color);
    --secondary-color: var(--light-secondary-color);
    --accent-color: var(--light-accent-color);
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
    --custom-color-1: var(--light-custom-color-1);
    
    --light-primary-color: #685889;
    --light-secondary-color: #e6cbec;
    --light-accent-color: #a261b1;
    --light-background-color: #ffead5;
    --light-text-color: #0B0E1E;
    --light-custom-color-1: #fbebff;

    --dark-primary-color: #a892d9;
    --dark-secondary-color: #3f1e47;
    --dark-accent-color: #512c58;
    --dark-background-color: #242424;
    --dark-text-color: #E1E4F4;
    --dark-custom-color-1: #aa71b8;

}